{% include base_path %}
<div class="{{ include.type | default: "list" }}__item">
  <article class="archive__item archive__item--publication" itemscope itemtype="http://schema.org/CreativeWork">
    
    <div class="archive__item-pub-container">
      {% if post.image and post.image != "" %}
      <div class="archive__item-pub-thumbnail">
        <img src="{{ post.image | prepend: base_path }}" alt="{{ post.title }} thumbnail">
      </div>
      {% endif %}

      <div class="archive__item-pub-content">
        <h2 class="archive__item-title" itemprop="headline">
          <a href="{{ base_path }}{{ post.url }}" rel="permalink">{{ post.title }}</a>
        </h2>

        {% if post.authors %}
          <p class="archive__item-authors">{{ post.authors }}</p>
        {% endif %}

        {% if post.venue %}
          <p class="archive__item-venue"><i>{{ post.venue }}</i>, {{ post.date | date: "%Y" }}</p>
        {% endif %}

        <div class="archive__item-links">
          {% if post.paperurl and post.paperurl != "" %}
            <a href="{{ post.paperurl }}" class="btn btn--primary btn--small" target="_blank" rel="noopener noreferrer"><i class="fas fa-file-pdf"></i> Paper</a>
          {% endif %}
          {% if post.codeurl and post.codeurl != "" %}
            <a href="{{ post.codeurl }}" class="btn btn--info btn--small" target="_blank" rel="noopener noreferrer"><i class="fab fa-github"></i> Code</a>
          {% endif %}
          {% if post.projecturl and post.projecturl != "" %}
            <a href="{{ post.projecturl }}" class="btn btn--success btn--small" target="_blank" rel="noopener noreferrer"><i class="fas fa-globe"></i> Project Page</a>
          {% endif %}
          {% if post.slidesurl and post.slidesurl != "" %}
            <a href="{{ post.slidesurl }}" class="btn btn--warning btn--small" target="_blank" rel="noopener noreferrer"><i class="fas fa-file-powerpoint"></i> Slides</a>
          {% endif %}
        </div>

        {% if post.abstract %}
          <details class="archive__item-abstract-toggle">
            <summary>Abstract</summary>
            <p>{{ post.abstract }}</p>
          </details>
        {% endif %}
      </div>
    </div>

  </article>
</div>
